<launch>
    <param name="robot_description"
       command="$(find xacro)/xacro --inorder '$(find sim)/urdf/arm.xacro'" />


    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="/joint_states" to="/arm/joint_states" />
    <node/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sim)/config/arm.rviz"/>
</launch>